# These owners are the default owners for everything in this
# repository. These Github users will be requested for review
# when someone opens a pull request. Sorted alphabetically:
*       @android
